@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
  url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans LightItalic';
  font-style: normal;
  src: local('Open Sans LightItalic'), local('Open-Sans-LightItalic'),
  url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans CondLight';
  font-style: normal;
  src: local('Open Sans CondLight'), local('Open-Sans-CondLight'),
  url('../fonts/OpenSans-CondLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans CondLightItalic';
  font-style: normal;
  src: local('Open Sans CondLightItalic'), local('Open-Sans-CondLightItalic'),
  url('../fonts/OpenSans-CondLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
  url('../fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  src: local('Open Sans Semibold'), local('Open-Sans-Semibold'),
  url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans SemiboldItalic';
  font-style: normal;
  src: local('Open Sans SemiboldItalic'), local('Open-Sans-SemiboldItalic'),
  url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: normal;
  src: local('Open Sans BoldItalic'), local('Open-Sans-BoldItalic'),
  url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans CondBold_0';
  font-style: normal;
  src: local('Open Sans CondBold_0'), local('Open-Sans-CondBold_0'),
  url('../fonts/OpenSans-CondBold_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  src: local('Open Sans ExtraBold'), local('Open-Sans-ExtraBold'),
  url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  font-style: normal;
  src: local('Open Sans ExtraBoldItalic'), local('Open-Sans-ExtraBoldItalic'),
  url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}