$phone: 400px;
$phone-lg: 570px;
$small-devices: 768px;
$medium-desktop: 970px;
$medium-desktop-lg: 992px;
$large-desktop: 1200px;
$large-desktop-lg: 1400px;

@mixin phone {
  @media (max-width: #{$phone + 1px}) {
    @content;
  }
}
@mixin phone-lg {
  @media (max-width: #{$phone-lg + 1px}) {
    @content;
  }
}
@mixin small-devices {
  @media (max-width: #{$small-devices - 1px}) {
    @content;
  }
}
@mixin medium-desktop {
  @media (max-width: #{$medium-desktop - 1px}) {
    @content;
  }
}
@mixin medium-desktop-lg {
  @media (max-width: #{$medium-desktop-lg - 1px}) {
    @content;
  }
}
@mixin large-desktop {
  @media (max-width: #{$large-desktop + 1px}) {
    @content;
  }
}
@mixin large-desktop-lg {
  @media (max-width: #{$large-desktop-lg + 1px}) {
    @content;
  }
}