@import '_variables';
@import '_mixins';

.navbar-main-menu {
  position: relative;
  min-height: 29px;
  margin-bottom: 0;
  background-color: $green;
  .container {
    .navbar-header {
      .navbar-toggle {
        .icon-bar {
          background-color: $white;
        }
      }
    }
    .navbar-collapse {
      .nav {
        margin-left: -23px;
        li {
          border-right: 1px solid $white-opacity;
          a {
            padding-top: 4px;
            padding-bottom: 4px;
            color: $white;
            &:hover, &:focus {
              background-color: $green-hover;
              text-decoration: none;
            }
          }
          .nav-clinics {
            padding-right: 23px;
            @include medium-desktop-lg {
              padding-left: 22px;
              padding-right: 10px;
            }
          }
          .nav-doctors {
            padding-left: 21px;
            padding-right: 21px;
          }
          .nav-medicines {
            padding-left: 22px;
            padding-right: 26px;
          }
          .nav-researches {
            padding-left: 21px;
            padding-right: 29px;
          }
          .nav-medtourism {
            padding-left: 21px;
            padding-right: 25px;
          }
          .nav-category {
            padding-left: 21px;
            padding-right: 24px;
          }
          .nav-library {
            padding-left: 22px;
            padding-right: 20px;
          }
          .nav-doctors, .nav-medicines, .nav-researches, .nav-medtourism, .nav-category, .nav-library {
            @include medium-desktop-lg {
              padding-left: 10px;
              padding-right: 10px;
            }
            @include small-devices {
              padding-left: 22px;
            }
          }
        }
        li:last-child {
          border-right: none;
        }
      }
      .navbar-right {
        margin-right: 58px;
        @include medium-desktop-lg {
          margin-right: 0;
        }
        li:last-child {
          border-bottom: 1px solid #66d7cf;
          width: 53px;
          &:hover {
            border-bottom: none;
          }
          a {
            padding: 0;
            &:hover {
              text-decoration: none;
              background-color: transparent;
            }
            i {
              margin-right: 6px;
            }
          }
        }
        li {
          margin-top: 4px;
          height: 20px;
          border-right: none;
          @include small-devices {
            margin-left: 22px;
          }
        }
      }
    }
  }
}
.navbar-contacts {
  margin-bottom: 11px;
  position: relative;
  .container {
    display: block;

    @include large-desktop {
      display: flex;
    }
    @include small-devices {
      display: block;
    }
    .navbar-header {
      margin-top: 13px;
      border-right: 1px solid rgba(0, 0, 0, .2);
      padding-right: 85px;
      @include small-devices {
        padding-right: 0;
        border-right: transparent;
      }

      .logo-top {
        margin-left: -12px;
        @include small-devices {
          margin-left: 10px;
        }
      }
      .navbar-toggle {
        .icon-bar {
          background-color: $green;
        }
      }
    }
    .navbar-collapse {
      ul {
        margin-top: 21px;
        li:first-child {
          width: 307px;
          margin-top: 13px;
          margin-left: 19px;
          @include large-desktop {
            margin-left: 15px;
          }
          .lab {
            float: left;
            margin-right: 8px;
            font-size: 16px;
            color: $black-darker;
          }
          .box {
            padding-top: 2px;
            .selectpicker {
              margin-top: -2px;
              border: none;
              background-color: transparent;
              cursor: pointer;
              border-bottom: 1px dotted #000;
              -webkit-appearance: none;
              -webkit-border-radius: 0px;
              -moz-appearance: none;
              option {
                font-size: 16px;
                font-family: $semibold;
                color: $black-light;
              }
            }
            i {
              margin-left: -11px;
              margin-bottom: 2px;
              font-size: 10px;
              vertical-align: middle;
            }
          }
        }
        li {
          a {
            font-size: 16px;
            color: $black-darker;
            &:hover, &:focus {
              background-color: transparent;
              text-decoration: underline;
            }
          }
          .phone-number {
            font-size: 20px;
            font-family: $semibold;
          }
          a.registration {
            margin-left: 24px;
            margin-top: 4px;
            padding: 8px 30px;
            font-size: 16px;
            border: 2px solid #00b6a7;
            border-radius: 22px;
            text-transform: $caps;
            color: $black-btn-font;
            &:hover {
              background: #00c7bb; /* Old browsers */
              background: linear-gradient(to bottom,  #00c7bb 0%,#00ae9f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c7bb', endColorstr='#00ae9f',GradientType=0 );
              border-bottom: 2px solid $green-border-dark;
              color: $white;
              text-decoration: none;
              cursor: pointer;
              color: $white;
            }
            @include large-desktop {
              margin-left: 17px;
            }
            @include small-devices {
              width: 200px;
              text-align: center;
            }
          }
        }
        .phone-number-descr {
          margin-top: 15px;
          padding-left: 15px;
          font-size: 16px;
          color: $black-darker;
        }
        .divider-phone {
          width: 5px;
          height: 70px;
          margin-bottom: -10px;
          margin-top: -11px;
          margin-left: 3px;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          @include large-desktop {
            border-right: transparent;
          }
        }
      }
    }
  }
}
span.numbers {
  color: $grey;
}