.well {
  border-radius: 7px;
  border: none;
  nav {
    .nav-pills {
      margin-top: 23px;
      margin-left: 5px;
      text-align: left;
      li.active {
        a {
          margin-left: 3px;
          background-color: transparent;
          text-decoration: underline;
          transition: all 600ms ease-out;
          &:focus {
            color: $sidebar-link;
          }
        }
      }
      li {
        display: block;
        margin-bottom: 5px;
        &:hover {
          background-color: $bg-body;
        }
        a {
          color: $sidebar-link;
          &:hover {
            color: $sidebar-link;
          }
        }
      }
    }
    .nav-stacked > li {
      @include large-desktop {
        float: left;
      }
    }
  }
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 1200px) {
  #sidebar.affix-top {
    position: static;
    width: 228px;
  }

  #sidebar.affix {
    position: fixed;
    top: 30px;
    width: 228px;
  }
}