@import '_fonts';

/* FONTS */
$light: 'Open Sans Light', Arial, sans-serif;
$lightItalic: 'Open Sans LightItalic', Arial, sans-serif;
$condLight: 'Open Sans CondLight', Arial, sans-serif;
$condLightItalic: 'Open Sans CondLightItalic', Arial, sans-serif;
$regular: 'Open Sans', Arial, sans-serif;
$italic: 'Open Sans Italic', Arial, sans-serif;
$semibold: 'Open Sans Semibold', Arial, sans-serif;
$semiboldItalic: 'Open Sans SemiboldItalic', Arial, sans-serif;
$bold: 'Open Sans Bold', Arial, sans-serif;
$boldItalic: 'Open Sans Bold Italic', Arial, sans-serif;
$condBold_0: 'Open Sans CondBold_0', Arial, sans-serif;
$extraBold: 'Open Sans ExtraBold', Arial, sans-serif;
$extraBoldItalic: 'Open Sans ExtraBoldItalic', Arial, sans-serif;

/* FONT SIZES */
//$header2: 36px;

$caps: uppercase;

/* COLORS */
$white: #fff;
$black: #000;

$green-light: #99e5df;
$green: #00bdaf;
$green-dark: #049d91;
$green-darker: #18bdb2;
$green-dark-border: #00b6a7;
$green-bg-btn: #00beb0;
$green-border-hover: #1fc3bb;
$green-diseases: #0ba39a;
$green-link-hover: #a5d4d0;
$green-bg: #2ec0b5;
$green-hover: #008a77;
$green-btn: #00c3b6;

$grey-lighter: #565656;
$grey-light: #726a6a;
$grey: #aeaeae;
$grey-dark: #828282;
$grey-darker: #7e7e7e;
$grey-border: #c5cdcd;
$grey-border-dark: #ddd;
$grey-font: #868686;
$grey-placeholder: #494949;
$grey-border-input: #858384;

$black-lighter: #393939;
$black-light: #1a1b1c;
$black-darker: #4e565a;
$black-btn-font: #191717;
$black-btn-font: #2a2323;

$blue-dark: #1a5eab;

$olive-dark: #c5dbe0;
$olive: #e9f2f1;

$white-opacity: rgba(255, 255, 255, .3);

$overlay-light: rgba(0, 0, 0, .4);

$underline: #a5a5a5;

$grey-border: #d3d3d3;
$grey-border-list: #d1d5d5;

$green-border: #00baab;
$green-border-dark: #008977;

/* CLINIC PAGE */
$sidebar-link: #68a697;
$breadcrumb-first: #00bdaf;
$breadcrumb-links: #6d6d6d;
$bg-body: #f6f6f6;
$thumbnail-profession-tags: #bdbdbd;
$tags-hover: #9e9c9c;
$header-list: #898989;
$header-h4: #2b2b2b;
$bg-thumbnail: #f1e0c4;
$thumbnail-light: #9b886b;
$img-overlay: #02211f;